<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/stylesheets/side-bar.css">
    <script src="https://kit.fontawesome.com/994fe1cfb9.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="side-bar">
        <div class="logo-content">
            <div class="logo">
                <h3 class="logo-name">
                    Market San Martin
                </h3>
            </div>
            <!--<div class="btn-toggle">
             <i class='bx bx-menu'></i>
            </div>-->
        </div>

        <ul class="nav">
            <li>
                <a href="/">
                    <i class="fa-brands fa-ethereum"></i>
                    <span>Panel Principal</span>
                </a>

            </li>
            <li>
                <a href="/ventas">
                    <i class="fa-solid fa-sack-dollar"></i>
                    <span>Ventas</span>
                </a>

            </li>
            <li>
                <a href="/product"> <i class="fa-solid fa-cubes-stacked"></i>
                    <span>Productos</span></a>
            </li>
            <li>
                <a href="/provider"><i class="fa-solid fa-building-user"></i><span>Proveedores</span></a>
            </li>
            <li>
                <a href="/category"><i class="fa-solid fa-shapes"></i></i><span>Categorias</span></a>
            </li>

            <li>
                <a href="">
                    <i class="fa-solid fa-screwdriver-wrench"></i>

                    <span>Configuraciones</span></a>
            </li>
        </ul>
    </header>
</body>

</html>