<link rel="stylesheet" href="/stylesheets/side-bar.css">

<header class="side-bar">
    <div class="logo-content">
        <div class="logo">
            <h3 class="logo-name">
             Market San Martin
            </h3>
        </div>
        <!--<div class="btn-toggle">
         <i class='bx bx-menu'></i>
        </div>-->
    </div>

    <ul class="nav">
      <li>
          <a href="/users/login">
             <i class='bx bxs-pie-chart-alt-2'></i>
             <span>Tablero Principal</span>
          </a>
      
      </li>
      <li>
          <a href="/login">
             <i class='bx bxs-color'></i>
             <span>Ventas</span>
          </a>
      
      </li>
      <li>
      <a href=""> <i class='bx bxs-group'></i>
         <span>Productos</span></a>
      </li>
      <li>
          <a href=""><i class='bx bxs-group'></i><span>Reportes</span></a>
      </li>
      <li>
          <a href=""><i class='bx bxs-wrench'></i><span>Configuraciones</span></a>
      </li>
    </ul>
</header>