<!DOCTYPE html>
<html lang="es">

<head>
  <!--Incluimos la parte del head de la pagina-->
  <%- include("partials/head.ejs") %>
  <!--INcluimos los estilos de esta pagina-->
    <link rel="stylesheet" href="/stylesheets/main-board.css" />
</head>

<body>
  <!--Incluimos la barra de navegacion lateral-->
  <%- include("partials/side-bar.ejs") %>

    <main>

      <!--Inluimos el encabezado de la pagina-->
      <%- include("partials/header.ejs") %>

      <!--Aqui va el titulo de la pagina-->
        <section class="title">

          <h2>Panel de administracion</h2>

        </section>

        <!--Aqui va el resumen-->
        <section class="abstrac">
          <div class="abs-content"> 
            <div class="overview-boxes">
              <div class="box">
                <div class="right-side"> <!--Aqui va las ventas diarias-->
                  <div class="box-topic">Ventas Diaria</div>
                  <div class="number">40,876</div>
                  <div class="indicator">
                    <i class="fa-solid fa-coins"></i>
                    <span class="text">Up from yesterday</span>
                  </div>
                </div>
                <i class="fa-solid fa-coins"></i>
              </div>
              <div class="box">
                <div class="right-side"><!--aqui va las ventas del mes-->
                  <div class="box-topic">Ventas al Mes</div>
                  <div class="number">38,876</div>
                  <div class="indicator">
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Up from yesterday</span>
                  </div>
                </div>

                <i class="fa-solid two fa-sack-dollar"></i>
              </div>
              <div class="box">
                <div class="right-side"><!--aqui va los productos sin stock-->
                  <div class="box-topic">Productos agotados</div>
                  <div class="number">123</div>
                  <div class="indicator">
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Up from yesterday</span>
                  </div>
                </div>
                <i class="fa-solid three fa-cubes-stacked"></i>
              </div>
              <div class="box">
                <div class="right-side"><!--Aqui va los el total de productos vigentes-->
                  <div class="box-topic">Total Producto</div>
                  <div class="number">11,390</div>
                  <div class="indicator">
                    <i class="bx bx-down-arrow-alt down"></i>
                    <span class="text">Down From Today</span>
                  </div>
                </div>
                <i class="fa-solid four fa-cubes"></i>
              </div>
            </div>
        </section>

        <section class="home-section">


          <div class="sales-boxes">
            <div class="recent-sales box">
              <div class="title">Recent Sales</div>
              <div class="sales-details">
                <ul class="details">
                  <li class="topic">Date</li>
                  <li><a href="#">02 Jan 2021</a></li>
                  <li><a href="#">02 Jan 2021</a></li>
                  <li><a href="#">02 Jan 2021</a></li>
                  <li><a href="#">02 Jan 2021</a></li>
                  <li><a href="#">02 Jan 2021</a></li>
                  <li><a href="#">02 Jan 2021</a></li>
                  <li><a href="#">02 Jan 2021</a></li>
                </ul>
                <ul class="details">
                  <li class="topic">Customer</li>
                  <li><a href="#">Alex Doe</a></li>
                  <li><a href="#">David Mart</a></li>
                  <li><a href="#">Roe Parter</a></li>
                  <li><a href="#">Diana Penty</a></li>
                  <li><a href="#">Martin Paw</a></li>
                  <li><a href="#">Doe Alex</a></li>
                  <li><a href="#">Aiana Lexa</a></li>
                  <li><a href="#">Rexel Mags</a></li>
                  <li><a href="#">Tiana Loths</a></li>
                </ul>
                <ul class="details">
                  <li class="topic">Sales</li>
                  <li><a href="#">Delivered</a></li>
                  <li><a href="#">Pending</a></li>
                  <li><a href="#">Returned</a></li>
                  <li><a href="#">Delivered</a></li>
                  <li><a href="#">Pending</a></li>
                  <li><a href="#">Returned</a></li>
                  <li><a href="#">Delivered</a></li>
                  <li><a href="#">Pending</a></li>
                  <li><a href="#">Delivered</a></li>
                </ul>
                <ul class="details">
                  <li class="topic">Total</li>
                  <li><a href="#">$204.98</a></li>
                  <li><a href="#">$24.55</a></li>
                  <li><a href="#">$25.88</a></li>
                  <li><a href="#">$170.66</a></li>
                  <li><a href="#">$56.56</a></li>
                  <li><a href="#">$44.95</a></li>
                  <li><a href="#">$67.33</a></li>
                  <li><a href="#">$23.53</a></li>
                  <li><a href="#">$46.52</a></li>
                </ul>
              </div>
              <div class="button">
                <a href="#">See All</a>
              </div>
            </div>
            <div class="top-sales box">
              <div class="title">Top Seling Product</div>
              <ul class="top-sales-details">
                <li>
                  <a href="#">
                    <img src="images/sunglasses.jpg" alt="" />
                    <span class="product">Vuitton Sunglasses</span>
                  </a>
                  <span class="price">$1107</span>
                </li>
                <li>
                  <a href="#">
                    <img src="images/jeans.jpg" alt="" />
                    <span class="product">Hourglass Jeans </span>
                  </a>
                  <span class="price">$1567</span>
                </li>
                <li>
                  <a href="#">
                    <img src="images/nike.jpg" alt="" />
                    <span class="product">Nike Sport Shoe</span>
                  </a>
                  <span class="price">$1234</span>
                </li>
                <li>
                  <a href="#">
                    <img src="images/scarves.jpg" alt="" />
                    <span class="product">Hermes Silk Scarves.</span>
                  </a>
                  <span class="price">$2312</span>
                </li>
                <li>
                  <a href="#">
                    <img src="images/blueBag.jpg" alt="" />
                    <span class="product">Succi Ladies Bag</span>
                  </a>
                  <span class="price">$1456</span>
                </li>
                <li>
                  <a href="#">
                    <img src="images/bag.jpg" alt="" />
                    <span class="product">Gucci Womens's Bags</span>
                  </a>
                  <span class="price">$2345</span>
                </li>

                <li>
                  <a href="#">
                    <img src="images/addidas.jpg" alt="" />
                    <span class="product">Addidas Running Shoe</span>
                  </a>
                  <span class="price">$2345</span>
                </li>
                <li>
                  <a href="#">
                    <img src="images/shirt.jpg" alt="" />
                    <span class="product">Bilack Wear's Shirt</span>
                  </a>
                  <span class="price">$1245</span>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </section>
    </main>

    <script src="https://kit.fontawesome.com/994fe1cfb9.js" crossorigin="anonymous"></script>
</body>

</html>