<!DOCTYPE html>
<html lang="es"></html>

<html>
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main class="container">
      <section class="containers">
        <h2>Nombres</h2>
        <form action="
        " method="post" class="form">
      <fieldset>
        <legend>Nombre</legend>
        <div class="container-textfield">
          <div class="textfield">
            <label for="">Usuario</label>
            <input type="text" name="username" class="username" placeholder="username">
          </div>
          <div class="textfield">
            <label for="">Contraseña</label>
            <input type="password" name="password" class="password" placeholder="password">
          </div>
        </div>
        <div class="btn">
          <input type="submit" class="btn-login" value="Ingresar">
        </div>
      </fieldset>
      
      </form>
      </section>
    </main>
  </body>
</html>
