<!DOCTYPE html>
<html lang="es">

<head>
    <!--Incluimos el head de la pagina-->
    <%- include("partials/head.ejs") %>
    <!--Incluimos los estilo de esta pagina-->
        <link rel="stylesheet" href="/stylesheets/product.css">
</head>

<body>
    <!--Incluimos la barra de navegacion lateral -->
    <%- include("partials/side-bar.ejs") %>
        <main>
<!--Incluimos el encabezado de la pagina-->
            <%- include("partials/header.ejs") %>
            
            <!--Aqui va el titulo de esta pagina-->
            <section class="title">
                
                    <h2>Productos</h2>
              
            </section>


<!--Aqui es donde se va a agregar un nuevo producto-->
            <section class="new-product">
                <div class="cont">
                    <div class="cont-box">
                        <div class="agg"> <!--Aqui va el boton para agregar-->
                            <a href="#addproduct" class="btn">
                                <span>Agregar Producto</span>
                            </a>

                        </div>
                        <div class="search-box"> <!--En esta parte se podra buscar un producto-->
                            <input type="text" placeholder="Buscar Producto" />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>



            </section>
            <section id="addproduct" class="modal-add"> <!--Este es el modal para agregar un producto-->
                <div class="modal__container">
                    <div class="modal">
                        <div class="text">
                            <h1>Agregar Producto</h1>
                        </div>
                        <form action="" class="form" method="post">
                            <input type="text" placeholder="Codigo Barra">
                            <input type="text" placeholder="Nombre">

                            <select name="" id="" class="select">
                                <Option value="">Viveres</Option>
                                <OPtion value="">Carti</OPtion>
                            </select>
                            <select name="" id="" class="select">
                                <Option value="">Viveres</Option>
                                <OPtion value="">Carti</OPtion>
                            </select>
                            <input type="text" placeholder="Precio">
                            <input type="text" placeholder="Cantidad">

                            <div class="btns">
                                <a href="">
                                    <span>cancel</span>
                                </a>
                                <input type="submit" value="Añadir">
                            </div>

                        </form>
                    </div>
                </div>
            </section>

            <section class="table-inv"> <!--Esta es la tabla en donde se enlistan todos los productos-->
                <div class="cont">
                    <table class="content-table">

                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Codigo B</th>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Proveedor</th>
                                <th>Precio </th>
                                <th>Stock</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1234</td>
                                <td>123455</td>
                                <td>fdffds</td>
                                <td>cqaqwd</td>
                                <td>deefe</td>
                                <td>efrerf</td>
                                <td>tregreger</td>
                                <td>
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    <i class="fa-solid fa-trash"></i>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </section>

        </main>

</body>

</html>