<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/public/stylesheets/sale.css">
</head>
<body>
    <%- include("partials/side-bar.ejs") %>
   <main>
    <section class="sale_section">
        <h1>aca la parte de ventas</h1>
    </section>
   </main>
</body>
</html>