<!DOCTYPE html>
<html lang="en">
<head>
<!--Incluimos el head de la pagina-->
 <%- include("partials/head.ejs") %>
</head>
<body>
    <!--Inluimos la barra de navegacion lateral-->
    <%- include("partials/side-bar.ejs") %>
    <main>
        <!--Incluimos el encabezado de la pagina-->
        <%- inlcude("partials/header.ejs") %>
        
    </main>
    
</body>
</html>